.cat_archive_wrap {

    @media(min-width: $screen-sm) {
        display: flex;
        flex-wrap: wrap;
        //background: blue;
        //justify-content: space-around;
    }

    .cat_archive_item {

        border: 1px solid #DDD;
        margin: 15px 0;
        text-align: center;
        background-color: #FFF;

        @media(min-width: $screen-sm) {
            flex: 0 1 31%;
            margin: 1%;
            margin-bottom: 10px;
        }

        img {
            //border: 1px solid #EEE;
        }

        h3 {
            border-top: 1px solid darken( $brand-primary, 18%);
            color: #EEE;
            text-align: center;
            background: darken($brand-primary, 15%);
            margin: 0;
            padding: 5px 0;
            font-size: 20px;
            font-weight: bold;
            text-shadow: 1px 1px darken( $brand-primary, 18%);
        }
    }
}