.single-accessories {
    h1.entry-title {
        margin: 0 0 15px 0;
        font-weight: bold;
        text-transform: none !important;
    }
}

.single-accessory {
    position: relative;
    padding: 20px 0;
    color: #000;

    h3, h4 {
        margin-bottom: 2px;
        font-size: 1.4em;
    }
    h4 {
        margin-top: 10px;
        font-weight: bold;
        color: #444;
        font-size: 20px;
        @media(min-width: $screen-sm) {
            margin-top: 0;
        }
    }
    .description-features-wrap {
        @media(min-width: $screen-md) {
            padding: 0 30px;
        }
        .accessory-description {
            width: 100%;
            font-size: 16px;
            padding-bottom: 20px;
        }
        // .features-section {
        //     padding-bottom: 15px;
        //     border-right: 1px solid #DDD;
        //     ul {
        //         list-style-type: none;
        //         li {
        //             font-size: 20px;
        //         }
        //     }
        // }
    }
    .image-wrap {
        img {
            border: 1px solid #EEE;
        }
        // .img-wrap-bg {

        //     @include img_bg; 

        //     // background-image: url('../img/gplaypattern.png');
        //     // //background-size: 25px 25px; //reticular_tissue.png
        //     // background-size: 188px 178px; //gplaypattern.png
        //     // background-color: #FFF;
        // }
    }

    .order-button-wrap {
        @media( min-width: $screen-md) {
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
    }
    .thumbnail-wrap {
        display: flex;
        .img-wrap {
            flex: 1;
        }
    }

    .price-wrap-outer {

        padding-bottom: 13px;

        .price-wrap {
            color: darken( $brand-primary, 12% );
            font-size: 30px;
            font-weight: bold;
            line-height: 25px;
        }

        .price-description {
            color: #888;
            font-size: 17px;
        }
    }
}

//.features-section-wrap {
    // @media(min-width: $screen-sm) {
    //     display: flex;
    // }

    .features-section {
        // &.border-class {
        //     @media(min-width: $screen-sm) {
        //         padding-right: 25px;
        //         border-right: 1px solid #EEE;
        //         margin-right: 25px;
        //     }

        // }
        padding-bottom: 15px;
        svg {
            max-width: 20px;
            max-height: 20px;
            margin-right: 5px;
            path, rect, polygon, circle {
                stroke: darken($brand-primary, 10%);
            }
        }
        ul {
            list-style-type: none;
            margin-left: 5px;
            li {
                font-size: 20px;
                margin: 5px 0;
                position: relative;
                display: flex;
                align-items: center;


                // &:before {
                //     //@include diamonds;
                // }
            }
        }

        // &.colors {
        //     ul {
        //         li {

        //             &:before {
        //                 @include circles;
        //             }
        //         }
        //     }
        // }

        // &.benefits {
        //     ul {
        //         li {

        //             &:before {
        //                 @include stars;
        //             }
        //         }
        //     }
        // }

    }

    // .features-section ul li {
    //     margin: 5px 0;
    //     position: relative;
    // }
    // .features-section ul li:before {
    //     @include diamonds;
    // }

//}



.protections-wrap {
    //padding: 15px 0;
    padding-bottom: 20px;

    .protection {
        display: flex;
        align-items: center;
        padding: 5px 0;
        margin-left: 5px;
        svg {
            max-width: 38px;
            max-height: 38px;
            path, rect, polygon {
                fill: darken($brand-primary, 5%);
            }
        }
        span {
            margin-left: 5px;
            font-size: 20px;
            //font-weight: bold;
            //color: #222;
        }
    }
}

.description-features-wrap  {
    @media(min-width: $screen-sm) {
        .protections-wrap {
            order: 1;
        }
        .features-wrap {
            order: 3;
        }
        .benefits-wrap {
            order: 2;
        }
        .colors-wrap {
            order: 4;
        }

        }

        &.no-protections {
        
        @media(min-width: $screen-sm) {
            .features-wrap {
                order: 2;
            }
            .benefits-wrap {
                order: 3;
            }
        }
    }
}