body.gs-wireless {

	.form-wrap {

		div.wpforms-container-full {

			.wpforms-form {

				.name-field, .email-field, .comments-field, .company-field, .tin-ein-ssn-field {

					&:before {
						font-family: FontAwesome;
						color: darken( $brand-primary, 15%);
						float: left;
						font-size: 25px;
						line-height: 22px;
						margin-right: 8px;
						margin-bottom: 9px;
					}

				}

				.name-field {

					@media(min-width: $screen-sm) {
						width: 48%;
						float: left;
						clear: none;
					}

					&:before {
						content: "\f2be";
					}
				}
	
				.company-field {
					@media(min-width: $screen-sm) {
						width: 48%;
						float: right;
						clear: none;
						margin-right: 1px;
					}
					&:before {
						content: "\f0f7";
					}
				}

				.email-field {
					&:before {
						content: "\f003";
					}
				}

				// .tin-ein-ssn-field {
				// 	&:before {
				// 		content: "\f2c3";
				// 	}
				// }

				.comments-field {
					&:before {
						content: "\f27b";
					}
				}

				label.wpforms-field-label {
					line-height: 22px !important;
				}

			}
		}
	}
}

