body.gs-wireless {

	.form-wrap {

		border-radius: 5px;
		border: 1px solid rgba(0,0,0,0.2);
		color: #222;
		font-size: 20px;

		.gform_fields {

			display: flex;
			flex-wrap: wrap;

			li {
				flex: 1 1 100%;
				padding: 10px;
				@media(min-width: $screen-sm) {
					flex: 1 1 50%;
				}

				input, textarea, select {
					width: 100%;
					border-radius: 3px;
					margin-bottom: 0;
				}

			}

			li.flex-33-width {
				flex: 1 1 33.3%;
			}

			li.flex-100-width {
				flex: 1 1 100%;
			}

			label.gfield_label {
				color: #111;
				font-size: 18px;
				margin-bottom: 0;
				span.gfield_required {
					color: $brand-third;
				}
			}

			
		}
	}
}

