.homepage-outer-wrap {
    flex: 1;
}

.homepage-wrap {

}

.homepage-slider {

    img {
        width: 100%;
        //display: none;
    }

    .homepage-slide {
        background-color: #F7F7F7;
    }
}

.homepage-cta-wrap { 
    //$gutter_color: #EEE;
    //$gutter_color: #222;
    padding: 0 7%;
    $gutter_color: #FFF;
    $gutter_width: 3px;
    //padding: 20px 0;
    //border-top: $gutter_width solid $gutter_color;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    background-color: $gutter_color;
    //background-image: url('../img/gplaypattern.png');
    //background-size: 188px 178px;
    background-image: url('../img/asanoha-400px.png');
    background-size: 200px 173.5px;
    //background-image: url('../img/dark_embroidery.png');

    @media(min-width: $screen-sm) {
        display: grid;
        grid-auto-flow: column;
        grid-gap: $gutter_width;
        //grid-gap: 40px;
    }
    .cta-item {

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 220px;
            width: 220px;
            // height: 200px;
            // width: 200px;
            border-radius: 50%;
            padding: 20px;
            margin: 25px auto;
            background-color: #F2F2F3;
            border: 4px solid #CCC;

            &:hover {
                //background-color: rgba(0,0,255,0.1);
                //background-color: rgba(255,255,255,0.07);
            }
            // background-color: #CCC;
            // border-radius: 40%;
            //background-color: #000;

            img {
                // max-width: 220px;
                // max-height: 105px;
            }
            &:hover {
                opacity: 0.8;
            }
            &.lyca-mobile-plans {
                //background-color: #CFCFCF;
            }
            &.h2o-plans {
                //background-color: #FEE634;
                //background-image: url('../img/h2o-bg-color.png');
            }
            &.easy-go-plans {
                //background-color: #1A84BE;
            }
            &.h2o-bolt-plans {
                //background-color: #6C348D;
            }
            // &.gs-accessories {
            //     background-color: #33d8bd;
            //     //background-image: url('../img/gplaypattern.png');
            //     //background-size: 188px 178px;
            // }
        }
    }
}

.gs-accessories-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 15px;
    a {
        border-radius: 500px;
        overflow: hidden;
        border: 4px solid #CCC;

        @media(min-width: $screen-sm) {
            max-width: 60%;
        }

        &:hover {
            opacity: 0.8;
        }

        &:focus {
            outline: none;
        }
    }
}