.homepage-outer-wrap {
    flex: 1;
}

.homepage-wrap {

}

.homepage-slider {

    img {
        width: 100%;
        //display: none;
    }

    .homepage-slide {
        background-color: #F7F7F7;
    }
}

.homepage-cta-wrap { 
    $gutter_color: #EEE;
    border-top: 5px solid $gutter_color;
    background-color: $gutter_color;

    @media(min-width: $screen-sm) {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 5px;
    }
    .cta-item {

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 180px;
            //background-color: #000;

            img {
                max-width: 200px;
                max-height: 120px;
            }
            &:hover {
                opacity: 0.8;
            }
            &.lyca-mobile-plans {
                background-color: #CFCFCF;
            }
            &.h2o-plans {
                background-color: #FEE634; //#FEE634 //#FDE548
            }
            &.easy-go-plans {
                background-color: #1A84BE;
            }
            &.h2o-bolt-plans {
                background-color: #6C348D;
            }
        }
    }

}