@mixin img_bg {
  background-image: url('../img/gplaypattern.png');
  //background-size: 25px 25px; //reticular_tissue.png
  background-size: 188px 178px; //gplaypattern.png
  background-color: #FFF;
}

// @mixin diamonds {
//     -moz-transform:rotate(45deg);
//     -webkit-transform:rotate(45deg);
//     -o-transform:rotate(45deg);
//     -ms-transform:rotate(45deg);
//     width: 13px;
//     height: 13px;
//     left: -21px;
//     top: 9px;
//     position: absolute;
//     border-style: double;
//     border-color: darken($brand-primary, 5%);
//     content: '';
// }

// @mixin circles {
//     -moz-transform:rotate(45deg);
//     -webkit-transform:rotate(45deg);
//     -o-transform:rotate(45deg);
//     -ms-transform:rotate(45deg);
//     border-radius: 80px;
//     width: 13px;
//     height: 13px;
//     left: -21px;
//     top: 9px;
//     position: absolute;
//     border-style: double;
//     border-color: darken($brand-primary, 5%);
//     content: '';
// }

// @mixin stars {
//     // -moz-transform:rotate(45deg);
//     // -webkit-transform:rotate(45deg);
//     // -o-transform:rotate(45deg);
//     // -ms-transform:rotate(45deg);
//     // border-radius: 80px;
//     // width: 13px;
//     // height: 13px;
//     // left: -21px;
//     // top: 9px;
//     // position: absolute;
//     // border-style: double;
//     // border-color: darken($brand-primary, 5%);
//     // content: '';

//    margin: 50px 0;
//    position: relative;
//    display: block;
//    color: red;
//    width: 0px;
//    height: 0px;
//    border-right:  100px solid transparent;
//    border-bottom: 70px  solid red;
//    border-left:   100px solid transparent;
//    -moz-transform:    rotate(35deg);
//    -webkit-transform: rotate(35deg);
//    -ms-transform:     rotate(35deg);
//    -o-transform:      rotate(35deg);

// &:before {
//    border-bottom: 80px solid red;
//    border-left: 30px solid transparent;
//    border-right: 30px solid transparent;
//    position: absolute;
//    height: 0;
//    width: 0;
//    top: -45px;
//    left: -65px;
//    display: block;
//    content: '';
//    -webkit-transform: rotate(-35deg);
//    -moz-transform:    rotate(-35deg);
//    -ms-transform:     rotate(-35deg);
//    -o-transform:      rotate(-35deg);

// }
// &:after {
//    position: absolute;
//    display: block;
//    color: red;
//    top: 3px;
//    left: -105px;
//    width: 0px;
//    height: 0px;
//    border-right: 100px solid transparent;
//    border-bottom: 70px solid red;
//    border-left: 100px solid transparent;
//    -webkit-transform: rotate(-70deg);
//    -moz-transform:    rotate(-70deg);
//    -ms-transform:     rotate(-70deg);
//    -o-transform:      rotate(-70deg);
//    content: '';
// }

// }

@mixin form_text() {
  color: #555;
  // font-family: 'Open Sans';
  // font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
}