.plan-wrap {

	padding-bottom: 25px;

	h2 {
		color: #222;
	}

	.plan-details-wrap {

		display: flex;
		padding: 15px 0;
		border-bottom: 1px solid #DDD;
		font-size: 22px;

		.plan-details {

			flex: 1 1 17%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 10px;
			font-weight: 600;
			color: #333;

			h4 {
				font-size: 17px;
				font-weight: bold;
				color: #111;
				color: lighten($brand-second, 5%);
				white-space: no-wrap;
			}

			&.month-plan {
				flex-direction: column;

				span.price {
					font-weight: 800;
					font-size: 70px;
					line-height: 30px;
					margin-top: 20px;
					//width: 100%;
					span {
						color: #777;
						font-size: 30px;
					}
				}

				span.per {
					color: #AAA;
					font-size: 14px;
					//width: 100%;
				}

			}

			&.nation-talk-text {

			}

			&.lte-data {
				font-size: 18px;
			}

			&.int-talk-text {

			}

			&.intl-minutes {

			}

			&.intl-credit {
				flex: 1 1 15%;
			}

		}
	}
}

.plan-banner {

		text-align: center;
		margin-bottom: 30px;
		min-height: 165px;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			max-width: 240px;
		}

		&.h2o-wireless  {
			background-image: url('../img/h2o-bg-color.png');
		}

		&.easygo {
			background-color: $brand-easy-go;
		}

		&.lyca {
			background-color: #DDD;
		}

		&.bolt {
			background-color: #652D84;
		}

} 