.cart-wrap {
	.cart-item {
		background-color: #a0d3e8;
		border: 1px solid #74bfdd;
		display: flex;
		flex-wrap: wrap;
		// justify-content: space-around;
		// align-items: center;
		padding: 10px 15px;
		margin: 15px 0;
		text-transform: uppercase;
		font-size: 13px;
		color: #000;

		@media(min-width: $screen-md) {
			//display: flex;
			justify-content: space-around;
			align-items: center;
			//flex-wrap: wrap;
		}

		form.details-form {
			flex: 1 1 100%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-wrap: wrap;
			@media(min-width: $screen-md) {
				flex: 1 1 44%;
			}

			select, input {
				height: auto;
				margin: 0;
			}
			input {
				padding: 7px 5px;
				border: none;
				border-radius: 0;

			}

			::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: #777;
			}
			::-moz-placeholder { /* Firefox 19+ */
			  color: #777;
			}
			:-ms-input-placeholder { /* IE 10+ */
			  color: #777;
			}
			:-moz-placeholder { /* Firefox 18- */
			  color: #777;
			}
		}

		.cart-property {
			//background: red;
			padding: 10px 5px;

			// display: flex;
			// align-items: center;
			@media(min-width: $screen-md) {
				padding: 0;
				display: flex;
				align-items: center;
			}

			&.thumb {
				flex: 1 1 100%;
				@media(min-width: $screen-md) {
					flex: 1 1 10%;

				}

				img {
					width: 80px;
					height: 80px;
					border: 2px solid #FFF;
				}
			}

			&.price, &.product {
				flex-direction: column;
				align-items: flex-start;
				width: 100%;

				@media(min-width: $screen-md) {
					flex: 1 1 10%;
				}
				label {
					opacity: 0.6;
				}
				.price-line {
					font-size: 1.3em;
					font-weight: bold;
				}
				.details {
					opacity: 0.6;
					padding-top: 3px;
				}
			}

			&.product {
				//flex: 1 1 35%;
				//overflow: hidden;
				//white-space: nowrap;
				@media(min-width: $screen-md) {
					flex: 1 1 25%;
					padding-right: 5px;
				}

				a {

				color: #000;
					&:hover {
						color: $brand-second;
					}
				}
			}

			&.quantity {
				flex: 1 1 50%;
				@media(min-width: $screen-md) {
					flex: 1 1 40%;
				}
			}

			&.color {
				flex: 1 1 50%;
				@media(min-width: $screen-md) {
					flex: 1 1 40%;
				}
			}

			&.update {
				@media(min-width: $screen-md) {
					flex: 1 1 20%;
					display: flex;
					justify-content: flex-end;
				}
			}

			&.remove {
				width: 100%;
				text-align: center;
				@media(min-width: $screen-md) {
					flex: 1 1 11%;
					display: flex;
					justify-content: flex-end;
				}
			}
		}

		span {
			opacity: 0.6;
			margin: 0 5px 0 10px;
		}

		button {
			background-color: darken(#a0d3e8, 10%);
			border: 1px solid darken(#74bfdd, 10%);
			padding: 8px 10px;
			color: #000;
			border-radius: 5px;
			&:hover {
				background-color: darken(#a0d3e8, 15%);
				color: #000;
				cursor: pointer;
			}
		}
	}
	.cart-total {
		font-size: 23px;
		padding: 5px 0 15px;
		color: #888;
		span {
			color: darken( $brand-primary, 15%);
			font-weight: bold;
		}
	}
	.min-amount-wrap {
		font-size: 19px;
		color: #777;
		padding-bottom: 15px;
	}
}

.add-more-items-wrap {
	a {
		color: darken( $brand-primary, 10%);
		font-weight: bold;
		&:hover {
			color: $brand-primary;
		}
	}
}

.empty-cart {
	padding: 5px 0;
	font-size: 22px;
}

button.submit-order-button {
			background-color: darken($brand-primary, 10%);
			//border: 1px solid darken(#74bfdd, 10%);
			padding: 8px 10px;
			color: #FFF;
			border-radius: 5px;
			font-size: 23px;
			font-weight: bold;
			&:hover {
				background-color: darken($brand-primary, 5%);
				cursor: pointer;
			}

			&.disabled {
				opacity: 0.5;
				&:hover {
					cursor: auto;
					background-color: darken($brand-primary, 10%);
				}
				&:focus {
					outline: none;
				}
			}
}