  $brand-primary: #0E509C;
  $brand-primary-hover: darken($brand-primary, 15%);
  $brand-second: #054E9E; // GS Blue
  $brand-third: #76030F; // GS Red
  //$h2o_brand: yellow; //use background image for this to match color and slide
  $brand-easy-go: #1384BE;



  $base-white: #FFF;
  $base-dark: #222;

  //$screen-sm: 768px;
  $screen-sm: 640px;
  $screen-md: 1024px;
  $screen-lg: 1200px;
  $screen-xlg: 1600px;
